*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: rgb(104, 99, 99);
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* content */

